{% extends 'base.html' %} {% block header %}
<h1>{% block title %}修改密码{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
    <label for="old_password" align="center">旧密码</label>
    <input type="password" name="old_password" id="old_password">
    <label for="new_password" align="center">新密码</label>
    <input type="password" name="new_password" id="new_password">
    <label for="ckeck_new_password" align="center">确认新密码</label>
    <input type="password" name="check_new_password" id="check_new_password">
    <input type="submit" value="保存" onclick="return confirm('确认修改');">
</form>
{% endblock %}