{% extends 'base.html' %} {% block header %}
<h1>{% block title %}点击进货{% endblock %}</h1>
{% if g.is_admin %}
<a class="action" href="{{ url_for('book.create') }}">点击进货</a> {% if g.is_Super %}
<a class="action" href="{{ url_for('book.list') }}">进货清单</a>
<a class="action" href="{{ url_for('book.list_expenses') }}">支出账单</a>
<a class="action" href="{{ url_for('book.list_income') }}">收入账单</a>
<a class="action" href="{{ url_for('book.all_borrow_list') }}">全部借书清单</a>{% endif %}{% endif %} {% endblock %} {% block content %}
<form method="post">
    {% if flag_new == 0 %}
    <label for="bid" align="center">ISBN</label>
    <input type="numberofisbn" name="isbn" id="isbn" value="{{ request.form['isbn'] }}" required>
    <input type="text" min="1" name="bookname" id="bookname" value="{{ request.form['bookname'] }}" hidden>
    <input type="text" min="1" name="author" id="author" value="{{ request.form['author'] }}" hidden>
    <input type="text" min="1" name="publisher" id="publisher" value="{{ request.form['publisher'] }}" hidden>
    <label for="bid" align="center">进货数量</label>
    <input type="number" min="1" name="amount" id="amount" value="{{ request.form['amount'] }}" required>
    <label for="bid" align="center">进货价格</label>
    <input type="number" min="1" name="unit_price" id="amount" value="{{ request.form['unit_price'] }}" required> {% else %}
    <h1  align="center">书籍不存在，首次进货请补充书籍信息</h1>
    <input type="number" min="1" name="bid" id="bid" value="{{ request.form['bid'] }}" hidden>
    <label for="isbn" align="center">ISBN</label>
    <input type="numberofisbn" min="1" name="isbn" id="isbn" value="{{ request.form['isbn'] }}" required>
    <label for="bookname" align="center">书名</label>
    <input type="text" name="bookname" id="bookname" value="{{ request.form['bookname'] }}" required>
    <label for="author" align="center">作者</label>
    <input type="text" name="author" id="author" value="{{ request.form['author'] }}" required>
    <label for="publisher" align="center">出版商</label>
    <input type="text" name="publisher" id="publisher" value="{{ request.form['publisher'] }}" required>
    <label for="amount" align="center">进货数量</label>
    <input type="number" min="1" name="amount" id="amount" value="{{ request.form['amount'] }}" required>
    <label for="unit_price" align="center">进货价格</label>
    <input type="number" min="1" name="unit_price" id="unit_price" value="{{ request.form['unit_price'] }}" required> {% endif %}
    <input type="submit" value="提交" onclick="return confirm('确认提交');">
</form>
{% endblock %}