{% extends 'base.html' %} {% block header %}
<h1>{% block title %}支出账单{% endblock %}</h1>{% if g.is_admin %}
<a class="action" href="{{ url_for('book.create') }}">点击进货</a> {% if g.is_Super %}
<a class="action" href="{{ url_for('book.list') }}">进货清单</a>
<a class="action" href="{{ url_for('book.list_expenses') }}">支出账单</a>
<a class="action" href="{{ url_for('book.list_income') }}">收入账单</a>
<a class="action" href="{{ url_for('book.all_borrow_list') }}">全部借书清单</a>{% endif %}{% endif %} {% endblock %} {% block content %}
<table width="900px" height="100px">
    <form id="dateRangeForm" action="/list_expenses" method="post">
        <label for="startDate">开始日期</label>
        <input type="date" id="startDate" name="startDate" value="{{ startDate }}">
        <label for="endDate">结束日期</label>
        <input type="date" id="endDate" name="endDate" value="{{ endDate }}">
        <input type="submit" name="submit" value="提交">
    </form>

    <tr>
        <th>账单流水号</th>
        <th>书籍ID</th>
        <th>时间</th>
        <th>数量</th>
        <th>单价</th>
        <th>支出总额</th>
        <th>操作</th>
    </tr>
    {% for post in posts %}
    <tr>
        <th>{{ post['exno'] }}</th>
        <th>{{ post['bid'] }}</th>
        <th>{{ post['time'] }}</th>
        <th>{{ post['amount'] }}</th>
        <th>{{ post['unit_price'] }}</th>
        <th>{{ post['total_expenses'] }}</th>
        <th>{{ post['source'] }}</th>
    </tr>
    {% endfor %} {% endblock %}